<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sélectionner un commentaire</title>
</head>
<body>
<h1>Choisir un commentaire pour le post "{{ post.title }}"</h1>

<ul>
    {% for commentaire in commentaires %}
        <li>
            {{ commentaire.content }}
            <a href="{{ path('app_select_comment', {'commentId': commentaire.id}) }}">Modifier</a>
        </li>
    {% endfor %}
</ul>

<a href="{{ path('app_add_comment_to_post') }}">Ajouter un nouveau commentaire</a>
</body>
</html>
