{# templates/hashtag/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Hashtag créé avec succès{% endblock %}

{% block body %}
    <h1>Hashtag créé avec succès</h1>
    <p>Votre hashtag a été créé avec succès.</p>
{% endblock %}
