{# templates/users/profile.html.twig #}

<p>Nom : {{ app.user.name }}</p>
<p>Prénom : {{ app.user.firstname }}</p>
<p>E-mail : {{ app.user.email }}</p>

<h2>Mes annonces :</h2>
{% for annonce in app.user.annonces %}
    <p>Titre : {{ annonce.title }}</p>
{% endfor %}
